<div class="form-group">
    <%= f.radio_button :status, 'submitted' %>
    <%= f.label :status, 'Submitted request' %>

    <%= f.radio_button :status, 'approved' %>
    <%= f.label :status, 'Approve request' %>

    <%= f.radio_button :status, 'rejected' %>
    <%= f.label :status, 'Reject request' %>
  </div>